.primary,
.secondary,
.tertiary {
  display: flex;
  align-items: center;
  user-select: none;
  flex-shrink: 0;
  font: 0.875rem 500 "DM Sans";

  @media (max-width: 425px) {
    font-size: 1rem;

    > svg {
      width: 1rem;
    }
  }

  transition: ease-in 0.3s;
}

.primary {
  justify-content: center;
  gap: 0.5rem;
  height: 2.5rem;
  border-radius: 4px;
  border: 0;
  background-color: var(--red-500);
  color: var(--white);
  padding: 0 1rem;

  &:hover {
    filter: brightness(0.95);
  }
}

.secondary,
.tertiary {
  justify-content: space-between;
  gap: 1.75rem;
  height: 3rem;
  border-radius: 6px;
  border: 1px solid var(--red-500);
  background-color: transparent;
  color: var(--gray-500);
  font-weight: 700;
  padding: 0 2.813rem;

  > svg path {
    transition: ease-in 0.3s;
  }

  &:hover {
    border: 1px solid var(--red-500);
    background-color: var(--red-500);
    color: var(--white);

    > svg path {
      stroke: var(--white);
    }
  }
}

.tertiary {
  border: 1px solid var(--white);
  color: var(--white);

  > svg path {
    stroke: var(--white);
  }
}
