.primary, .secondary {
  display: flex;
  align-items: center;
  user-select: none;

  transition: ease-in 0.3s;
}

.primary {
  justify-content: center;
  gap: 0.5rem;
  height: 2.5rem;
  border-radius: 4px;
  border: 0;
  background-color: var(--red-500);
  color: var(--white);
  font: 0.875rem 500 'DM Sans';
  padding: 0 1rem;

  &:hover {
    filter: brightness(0.95);
  }
}

.secondary {
  justify-content: space-between;
  gap: 1.75rem;
  height: 3rem;
  border-radius: 6px;
  border: 1px solid var(--red-500);
  background-color: transparent;
  color: var(--gray-200);
  font-weight: 700;
  padding: 0 2.813rem;

  > svg path {
    transition: ease-in 0.3s;
  }

  &:hover {
    background-color: var(--red-500);
    color: var(--white);
    
    > svg path {
      stroke: var(--white);
    }
  }
}
