.platformSectionWrapper {
  position: relative;
  z-index: 10;
  background-color: var(--white);

  @media (max-width: 425px) {
    background-color: var(--gray-50);
  }
}

.platformSectionContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  margin: 0 auto;
  padding: 7.563rem 4%;

  @media (max-width: 425px) {
    padding: 8.25rem 4%;
  }
}

.linearGradientBg {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
  background: linear-gradient(77.95deg, #f4f4f4 36.68%, rgba(244, 244, 244, 0.5) 54.65%, rgba(244, 244, 244, 0) 72.68%);

  @media (max-width: 425px) {
    display: none;
  }
}

.platformSection {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.625rem;

  z-index: 2;

  @media (max-width: 425px) {
    align-items: center;
    gap: 4.063rem;
  }

  > strong {
    font-size: 2.813rem;
    line-height: 2.5rem;
    color: var(--gray-600);

    @media (max-width: 425px) {
      font-size: 1.875rem;
      line-height: 1.875rem;
      text-align: center;
    }

    > span {
      color: var(--blue-600);
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 40rem;

    @media (max-width: 425px) {
      font-size: 1.25rem;
      line-height: 1.75rem;
      text-align: center;
    }
  }
}

.imageContainer {
  width: 45rem;

  @media (max-width: 425px) {
    display: none;
  }
}
