.differentialsBoxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 2.5rem;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
