.headerContainer {
  position: relative;
  z-index: 11;
  height: 4.375rem;
  background: var(--white);

  @media (min-width: 769px) {
    border: 1px solid rgba(255, 255, 255, 0.22);
  }

  display: flex;
}

.stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.headerContent {
  width: 100%;
  height: 4.375rem;
  margin: 0 auto;
  padding: 0.75rem 10%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    margin: 0;
  }

  .logo {
    cursor: pointer;
  }
}

.navItems {
  display: flex;
  align-items: center;
  gap: 2.375rem;

  nav {
    @media (max-width: 768px) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 2.375rem;

      li {
        p {
          font: 500 0.875rem "DM Sans";
          user-select: none;
          cursor: pointer;

          transition: ease-in 0.3s;

          &:hover {
            filter: brightness(0.6);
          }
        }
      }
    }
  }

  > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    > a:last-of-type {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
}

.burgerMenu {
  position: relative;
  width: 70px;
  height: 70px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-650);

  @media (min-width: 769px) {
    display: none;
  }
}
