.heroSectionContainer {
  position: relative;
  z-index: 10;
  background-color: var(--white);
  height: 100vh;

  @media (max-width: 425px) {
    background-color: var(--blue-650);
    height: 100%;
  }
}

.linearGradientBg {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
  background: linear-gradient(77.95deg, #ffffff 36.68%, rgba(255, 255, 255, 0.5) 54.65%, rgba(255, 255, 255, 0) 72.68%);

  @media (max-width: 425px) {
    background-image: radial-gradient(circle, #7acee0, #7acee080, #7acee080, #7acee080, #7acee000);
    // background: radial-gradient(37.31% 50% at 64.64% 50%, #7ACEE0 0%, #7acee080 49.91%, #7acee000 92.33%);
  }
}

.videoContainer {
  position: absolute;
  width: 100%;
  height: 100vh;

  z-index: 0;

  @media (max-width: 425px) {
    display: none;
  }

  > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.heroSection {
  position: relative;
  width: 100%;
  height: calc(100vh - 8.5rem);
  margin: 0 auto;
  padding: 3rem 4%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.125rem;

  z-index: 2;

  @media (max-width: 425px) {
    height: 100%;
    padding: 7.25rem 4%;
  }

  p {
    font-size: 1.5rem;
    color: var(--gray-600);

    @media (max-width: 425px) {
      color: var(--white);
      text-align: center;
      align-self: center;
    }
  }

  > button {
    @media (max-width: 425px) {
      align-self: center;
    }
  }
}

.typewriterContainer {
  height: 2.25rem;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: var(--white);
  font-size: 1.438rem;
  font-weight: 700;
  color: var(--gray-600);

  @media (max-width: 425px) {
    margin: 2rem 0;
  }

  > span:last-of-type {
    color: var(--white);
    background-color: var(--blue-700);
    padding: 0 0.3rem;
    margin-left: 0.3rem;
    border-radius: 3px;
  }
}

.mobileImgContainer {
  position: relative;

  > svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10.4rem;
    z-index: -1;
  }

  @media (min-width: 426px) {
    display: none;
  }
}
