.container {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--white);

  @media (max-width: 767px) {
    flex-direction: column;
    height: 100%;
  }

  > video {
    width: 100%;

    @media (min-width: 768px) {
      position: absolute;
      right: -220px;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }
  }
}

.messageContainer {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50%;
  padding: 7.5rem 10%;
  padding-right: 0;

  @media (max-width: 767px) {
    padding: 8.25rem 10%;
    padding-top: 0;
    max-width: 100%;
    text-align: center;
    align-items: center;
  }
}

.heading {
  font-weight: 700;
  font-size: 2.813rem;
  line-height: 2.5rem;
  color: var(--gray-600);
  max-width: 32.813rem;

  @media (max-width: 767px) {
    font-size: 1.875rem;
    line-height: 1.875rem;
    max-width: 20rem;
  }

  strong {
    color: var(--blue-600);
  }
}

.text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--gray-500);
  margin: 1.625rem 0 4.75rem;
}

.linearGradient {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    77.95deg,
    #ffffff 25%,
    rgba(255, 255, 255, 0.5) 54.65%,
    rgba(255, 255, 255, 0) 72.68%
  );

  @media (max-width: 767px) {
    height: 100%;
    background: linear-gradient(
      0deg,
      #ffffff 0%,
      white 76%,
      rgba(255, 255, 255, 0) 83%
    );
  }
}

.button {
  padding: 0 1.75rem;
  width: fit-content;
  border-radius: 4px;
  height: 2.5rem;
  gap: 0.5rem;
  background: white !important;
  font-weight: 500;
  border: 1px solid var(--red-500) !important;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 1.125rem;
}